[Desktop Entry]
Type=Application
Exec=imwheel -b "4 5"
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_GB]=imwheel
Comment[en_GB]=No description
X-GNOME-Autostart-Delay=1
